<ul class="sidebar-menu" data-widget="tree">
    @*<li class="header">Menu</li>*@
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="~/Admin"><i class="fa fa-link"></i> <span>Dashboard</span></a></li>
    <li><a href="~/Admin/Reports"><i class="fa fa-link"></i> <span>Reports</span></a></li>
    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Banners</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="~/Admin/AddBanner">Add</a></li>
                <li><a href="~/Admin/ManageBanners">Modify</a></li>
            </ul>
        </li>*@

    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Videos</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Admin/AddVideoUrl">Add</a></li>
            <li><a href="~/Admin/ManageVideoURLs">Manage</a></li>
        </ul>
    </li>
</ul>